.div-b{
    background: url("../img/background.png") no-repeat center;
    background-color: black;
    color: #fff;
    height: 100vh;

    text-align: center;
}
.test {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
}
.map {
    height: 550px;
    width: 100%;
}
.center-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    padding: 0 30px;
}
body {
    overflow: hidden;
}
.table {
    color: white;
}