
//loading
.Loading-Container {

  .loading {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;
    
    & .path {
      stroke: rgb(236, 147, 147);
      stroke-linecap: round;
      animation: dash 1.5s ease-in-out infinite;
    }
    
  }
  
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }
    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }
    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }
}

// title

.Title-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Title {
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 1rem;

    // mobile
    @media screen and (max-width: 358px) {
      font-size: 1.5rem;
    }

    // tablet
    @media screen and (min-width: 768px) {
      font-size: 3rem;
    }

    // desktop
    @media screen and (min-width: 1024px) {
      font-size: 4rem;
    }

    // large desktop
    @media screen and (min-width: 1280px) {
      font-size: 4rem;
    }

    // extra large desktop(4k)
    @media screen and (min-width: 1600px) {
      font-size: 6rem;
    }
  }
}

// all Inputs

.Inputs-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .Group-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media screen and (max-width: 358px) {
      flex-direction: column;
    }
  }

  .Input-Type-Search {
    text-align: center;
    margin-bottom: 2px;

        // mobile
        @media screen and (max-width: 358px) {
          font-size: 1rem;
        }
    
        // tablet
        @media screen and (min-width: 768px) {
          font-size: 1rem;
        }
    
        // desktop
        @media screen and (min-width: 1024px) {
          font-size: 2rem;
        }
    
        // large desktop
        @media screen and (min-width: 1280px) {
          font-size: 3rem;
        }
    
        // extra large desktop(4k)
        @media screen and (min-width: 1600px) {
          font-size: 6rem;
        }
  }

  .Input-Search {
    text-align: center;
    margin-bottom: 2px;
        // mobile
        @media screen and (max-width: 358px) {
          font-size: 1rem;
        }
    
        // tablet
        @media screen and (min-width: 768px) {
          font-size: 1rem;
        }
    
        // desktop
        @media screen and (min-width: 1024px) {
          font-size: 2rem;
        }
    
        // large desktop
        @media screen and (min-width: 1280px) {
          font-size: 3rem;
        }
    
        // extra large desktop(4k)
        @media screen and (min-width: 1600px) {
          font-size: 5rem;
        }
  }

  .Input-Type-Fuel {
    text-align: center;
    margin-bottom: 2px;

        // mobile
        @media screen and (max-width: 358px) {
          font-size: 1rem;
        }
    
        // tablet
        @media screen and (min-width: 768px) {
          font-size: 1rem;
        }
    
        // desktop
        @media screen and (min-width: 1024px) {
          font-size: 2rem;
        }
    
        // large desktop
        @media screen and (min-width: 1280px) {
          font-size: 3rem;
        }
    
        // extra large desktop(4k)
        @media screen and (min-width: 1600px) {
          font-size: 5rem;
        }
  }

  .Input-Submit {
    margin-top: 20px;
    margin-bottom: 20px;

        // mobile
        @media screen and (max-width: 358px) {
          font-size: 1rem;
        }
    
        // tablet
        @media screen and (min-width: 768px) {
          font-size: 1rem;
        }
    
        // desktop
        @media screen and (min-width: 1024px) {
          font-size: 2rem;
        }
    
        // large desktop
        @media screen and (min-width: 1280px) {
          font-size: 3rem;
        }
    
        // extra large desktop(4k)
        @media screen and (min-width: 1600px) {
          font-size: 5rem;
        }
  }
}

// Update Container
.Update-Container {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-bottom: 1rem;
  .moment {
    margin-left: 5px;
  }
}

// Not-Found-Container
.Not-found-Container {
  display: flex;
  justify-content: center;
  align-items: center;


  .Text {
    color: red;
    text-align: center;
  }
}
