/* //loading */
.loading_container {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  width: 50px;
  height: 50px;
}

.path {
  stroke: rgb(236, 147, 147);
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
/* // title */

.Title_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

/* // mobile */
@media screen and (max-width: 358px) {
  .Title {
    font-size: 1.5rem;
  }
}

/* // tablet */
@media screen and (min-width: 768px) {
  .Title {
    font-size: 3rem;
  }
}

/* // desktop */
@media screen and (min-width: 1024px) {
  .Title {
    font-size: 4rem;
  }
}

/* // large desktop */
@media screen and (min-width: 1280px) {
  .Title {
    font-size: 4rem;
  }
}

/* // extra large desktop(4k) */
@media screen and (min-width: 1600px) {
  .Title {
    font-size: 6rem;
  }
}

/* // all Inputs */

/* input container */

.Inputs_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* media query */

@media screen and (max-width: 400px) {
  .Inputs-Container {
    flex-direction: column;
  }
}

/* group container */

.Group_Container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* media query */

@media screen and (max-width: 436px) {
  .Group_Container {
    flex-direction: column;
  }
}

/* input search */

.Input-Type-Search {
  text-align: center;
  margin-bottom: 2px;
}

/* media query */

/* // mobile */
@media screen and (max-width: 358px) {
  .Input-Type-Search {
    font-size: 1rem;
  }
}

/* // tablet */
@media screen and (min-width: 768px) {
  .Input-Type-Search {
    font-size: 1rem;
  }
}

/* // desktop */
@media screen and (min-width: 1024px) {
  .Input-Type-Search {
    font-size: 2rem;
  }
}

/* // large desktop */
@media screen and (min-width: 1280px) {
  .Input-Type-Search {
    font-size: 3rem;
  }
}

/* // extra large desktop(4k) */
@media screen and (min-width: 1600px) {
  .Input-Type-Search {
    font-size: 6rem;
  }
}

/* input search */

.Input-Search {
  text-align: center;
  margin-bottom: 2px;
}

/* media query */

/* // mobile */
@media screen and (max-width: 358px) {
  .Input-Search {
    font-size: 1rem;
  }
}

/* // tablet */
@media screen and (min-width: 768px) {
  .Input-Search {
    font-size: 1rem;
  }
}

/* // desktop */
@media screen and (min-width: 1024px) {
  .Input-Search {
    font-size: 2rem;
  }
}

/* // large desktop */
@media screen and (min-width: 1280px) {
  .Input-Search {
    font-size: 3rem;
  }
}

/* // extra large desktop(4k) */
@media screen and (min-width: 1600px) {
  .Input-Search {
    font-size: 5rem;
  }
}

/* input type fuel */

.Input-Type-Fuel {
  text-align: center;
  margin-bottom: 2px;
}

/* media query */

/* // mobile */
@media screen and (max-width: 358px) {
  .Input-Type-Fuel {
    font-size: 1rem;
  }
}

/* // tablet */
@media screen and (min-width: 768px) {
  .Input-Type-Fuel {
    font-size: 1rem;
  }
}

/* // desktop */
@media screen and (min-width: 1024px) {
  .Input-Type-Fuel {
    font-size: 2rem;
  }
}

/* // large desktop */
@media screen and (min-width: 1280px) {
  .Input-Type-Fuel {
    font-size: 3rem;
  }
}

/* // extra large desktop(4k) */
@media screen and (min-width: 1600px) {
  .Input-Type-Fuel {
    font-size: 5rem;
  }
}

/* input submit */

.Input_Submit {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* media query */

/* // mobile */
@media screen and (max-width: 358px) {
  .Input_Submit {
    font-size: 1rem;
  }
}

/* // tablet */
@media screen and (min-width: 768px) {
  .Input_Submit {
    font-size: 1rem;
  }
}

/*  desktop */
@media screen and (min-width: 1024px) {
  .Input_Submit {
    font-size: 2rem;
  }
}

/* // large desktop */
@media screen and (min-width: 1280px) {
  .Input_Submit {
    font-size: 3rem;
  }
}

/* // extra large desktop(4k) */
@media screen and (min-width: 1600px) {
  .Input_Submit {
    font-size: 5rem;
  }
}

/* Update Text */
.Update-Container {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.Update_Moment {
  margin-left: 5px;
}
